Question #1

In [1]:
my_name = 'Neal'
print (my_name)

Neal

Question #2

In [5]:
my_id =2021
print (my_id)

2021

Question #3

In [12]:
my_id_str = "2021"
print (my_id_str)

2021

Question #4

In [10]:
print (my_name + my_id)

TypeError: must be str, not int

It doesn't work because string cannot be added to an integer

Question #5

In [13]:
print ( my_name + my_id_str)

Neal2021

Question #6

In [16]:
print ('hello, world. This is my first python string')
print ('hello, world. This is my first python string'.split('.'))

hello, world. This is my first python string
['hello, world', ' This is my first python string']

Question #7

In [26]:
str_list = ['a','b','c','d','e']
str_list.sort()
print (str_list)

['a', 'b', 'c', 'd', 'e']

Can't sort the list because it is already in order

Question #8

In [27]:
str_list.append('f')
print (str_list)

['a', 'b', 'c', 'd', 'e', 'f']

Question #9

In [28]:
str_list.remove('d')
print (str_list)

['a', 'b', 'c', 'e', 'f']

Question #10

In [33]:
print (str_list[2])

c

Question # 11

In [34]:
num_list = ['12','32','43','35']
print (str_list + num_list)

['a', 'b', 'c', 'e', 'f', '12', '32', '43', '35']

No values associated with str_list, so it combines the two lists

Question #12

In [40]:
my_dict = {'name':'Larry','id':2021}
print(my_dict)

{'name': 'Larry', 'id': 2021}

Question #13

In [44]:
my_dict['name']= 'Neal'
print (my_dict)

{'name': 'Neal', 'id': 2021}

Question #14

In [45]:
print (my_dict['id'])

2021

Question #15

In [47]:
my_dict['id']=1999
print (my_dict)

{'name': 'Neal', 'id': 1999}

Question #16

In [48]:
my_dict['num_list']=num_list
print (my_dict)

{'name': 'Neal', 'id': 1999, 'num_list': ['12', '32', '43', '35']}

Dictionary imported previously defined num_list